@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";
/* line 4, ../components/sass/_pixgrid.scss */
.pixgrid img {
  max-width: 90px;
  display: block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 0 5px 5px 0;
  cursor: url(../images/misc/magnifying_glass.png), auto;
}
/* line 12, ../components/sass/_pixgrid.scss */
.pixgrid .preview img {
  padding: 0;
}

/* line 4, ../components/sass/_rclick.scss */
.rclick .item {
  display: block;
  float: left;
}
/* line 7, ../components/sass/_rclick.scss */
.rclick .item img {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
}
/* line 12, ../components/sass/_rclick.scss */
.rclick .preview {
  position: relative;
}
/* line 15, ../components/sass/_rclick.scss */
.rclick .preview img {
  position: absolute;
  z-index: 90;
  max-width: 400px;
  display: block;
  border: 1px solid #FCF4DC;
  margin: 0;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: black 5px 5px 12px;
  -moz-box-shadow: black 5px 5px 12px;
  box-shadow: black 5px 5px 12px;
}
